<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ewallet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.EWallet">
        <activity
            android:name=".RentPayment"
            android:exported="true" />
        <activity
            android:name=".WaterBill"
            android:exported="true" />
        <activity
            android:name=".ElectricityBill"
            android:exported="true" />
        <activity
            android:name=".DthRecharge"
            android:exported="true" />
        <activity
            android:name=".MobileRecharge"
            android:exported="true" />
        <activity
            android:name=".RechargeAndBillPayments"
            android:exported="true" />
        <activity
            android:name=".SendMoney"
            android:exported="true" />
        <activity
            android:name=".TransactionHistory"
            android:exported="true" />
        <activity
            android:name=".AccountBalance"
            android:exported="true" />
        <activity
            android:name=".FlightTicket"
            android:exported="true" />
        <activity
            android:name=".TrainTicket"
            android:exported="true" />
        <activity
            android:name=".BusTicket"
            android:exported="true" />
        <activity
            android:name=".MovieTicket"
            android:exported="true" />
        <activity
            android:name=".TicketBooking"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>